<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- This file contains installation specific properties used by the -->
        <!-- HibernateUtils class.  Applications should place this file in  -->
        <!-- the root of their class path with appropriate production values. -->
        
        

        <!-- Tug database connection URL and credentials -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/stocks?serverTimezone=UTC</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hibernate.connection.username">monty</property>
        <property name="hibernate.connection.password">some_pass</property>

		<mapping class="com.scottspencer.model.Person"/>
		<mapping class="com.scottspencer.model.StockQuoteDao"/>
		<mapping class="com.scottspencer.model.PersonQuote"/>


    </session-factory>
</hibernate-configuration>
